{% load i18n %} 
{% block subject %} {% blocktrans %}New {{ postType }} by {{ postAuthor }}{% endblocktrans %} {% endblock subject %} 
{% block html_body %}
<p>{% trans "Hello!" %}</p>
<p>
  {% blocktrans %} 
  {{ postAuthor }} just created or updated the following {{ postType }}: 
  Title: "{{ postTitle }}". 
  Content: 
  "{{ postBody }}"
  {% endblocktrans %}
</p>
<p>{% trans "Check it out here:" %}</p>
<p>
  <a href="{{ baseUrl }}{{ postUrl }}">
    {{ baseUrl }}{{ postUrl }}
  </a>
</p>
<p>{% trans "Thank you for following!" %}</p>
{% endblock html_body %}
