repos:
  # BUILT-IN HOOKS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Checking merge conflicts
        stages: [pre-commit]
      - id: detect-private-key
        name: Detecting private keys
        stages: [pre-commit]
      - id: no-commit-to-branch
        name: Preventing commits to main branch
        stages: [pre-commit]
        args: ['--branch', 'main']

  # VALIDATE BRANCH NAME
  - repo: local
    hooks:
      - id: validate-branch-name
        name: Validating Branch Name
        entry: git-hooks/validate-branch-name
        language: script
        stages: [pre-commit, post-checkout]

  # ADD ISSUE NUMBER TO COMMIT
  - repo: local
    hooks:
      - id: add-issue-to-commit
        name: Add issue number to commit
        entry: git-hooks/add-issue-to-commit
        language: script
        stages: [prepare-commit-msg]

  # LINTING & FORMATTING PYTHON
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.7
    hooks:
      - id: ruff
        name: Linting python code
        types: [python]
        stages: [pre-commit]
        args: ['--fix']
      - id: ruff-format
        name: Formatting python code
        types: [python]
        stages: [pre-commit]

  # LINTING FRONTEND
  - repo: local
    hooks:
      - id: eslint
        # We are using bash -c to run the command in the frontend directory
        entry: bash -c 'cd frontend && npm run lint'
        name: ESLinting front-end code
        language: system
        stages: [pre-commit]

  # SORTING PYTHON IMPORTS
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sorting python imports
        stages: [pre-commit]

  # TYPE CHECKING PYTHON
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        types: [python]
        name: Type checking python code
        additional_dependencies:
          [django-stubs, djangorestframework-stubs]
        stages: [pre-commit]

  # CHECKING FOR PYTHON SECURITY ISSUES
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        name: Checking for python security issues
        stages: [pre-commit]

  # FORMATTING FRONT-END CODE
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Formatting front-end code (re-commit if fails)
        stages: [pre-commit]
        args:
          [
            '--tab-width',
            '2',
            '--single-quote',
            '--no-semi',
            '--jsx-single-quote',
            '--print-width',
            '68',
          ]
