.container {
  background-color: var(--color-primary-weaker);
  border-radius: 14px;
  padding: 24px;
  padding-bottom: 12px;
}
.button {
  margin: 12px 0;
}
.input {
  background-color: var(--color-primary-weak);
}
