.formContainer {
  padding: 12px;
}

.argumentTextArea {
  min-height: 100px;
  @media screen and (min-width: 768px) {
    min-height: auto;
  }
}

.hintText {
  margin-bottom: 4px;
  font-style: italic;
}

.createBtn {
  margin: 0 0 12px 0;
}
.cancelBtn {
  margin: 12px 0;
}
