.vote-count {
  min-width: 100px;
  grid-column-start: 1;
  grid-row-start: 2;
}

.title {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
}

.tag {
  grid-row-start: 1;
  grid-column-start: 3;
}

.date {
  grid-row-start: 2;
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
  color: #8b8b8b;
}

.sectionStyleOverride {
  background-color: var(--color-secondary-light);
  padding: 18px 24px;
  transition: all 0.15s ease-in-out;
}

.link {
  text-decoration: none;
  color: #fff;
  margin-bottom: 12px;
  display: block;
}
.link:hover .sectionStyleOverride {
  background-color: var(--color-secondary);
  transition: all 0.15s ease-in-out;
}
