.label {
  display: block;
  color: var(--color-accent);
  margin-bottom: 4px;
}

.inputContainer {
  position: relative;
  margin-bottom: 12px;
}

.input {
  color: var(--color-secondary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 24px;
  padding: 8px 100px 8px 46px;
  width: 100%;

  &::placeholder {
    color: var(--color-secondary-weakest);
    font-style: italic;
  }
}

.icon {
  position: absolute;
  left: 14px;
  top: 6px;
}

.inputButtonContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;

  & button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 7px 20px 7px 18px;
  }
}

.inputButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLabel {
  display: inline;
  color: var(--color-primary);
  margin-right: 8px;
  font-weight: 600;
}
