.mainPageWrapper {
  min-height: initial;

  @media (min-width: 576px) {
    min-height: calc(100dvh - 51px - 24px - 48px - 24px);
  }
}

.footer {
  align-items: center;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;

  @media (min-width: 576px) {
    align-items: flex-end;
    flex-direction: row;
  }
}

.versionMirror {
  display: none;
  @media screen and (min-width: 576px) {
    display: block;
  }
}
