.mainPageWrapper {
  min-height: calc(100dvh - 51px - 24px - 48px - 38px);

  @media (min-width: 768px) {
    min-height: calc(100dvh - 51px - 24px - 48px - 18px);
  }
}

.link {
  margin: 0 6px;
  color: var(--color-secondary-weak);
  text-decoration: none;
}

.footer {
  align-items: center;
  background: var(--color-primary-weak);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;

  @media (min-width: 576px) {
    align-items: flex-end;
    flex-direction: row;
  }
}

.versionMirror {
  display: none;
  @media screen and (min-width: 576px) {
    display: block;
  }
}
