.outerContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: max-content;
    padding: 38px;
    min-width: 700px;
    width: auto;
  }
}
.innerContainer {
  border-radius: 0%;
  padding: 12px;

  @media screen and (min-width: 768px) {
    border-radius: 14px;
  }
}

.topContainer {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.title {
  margin: 0 16px 24px;
}

.search {
  margin: 0 12px;
  padding: 0 0 24px 0;
  border-bottom: 2px solid var(--color-secondary-transparent);
}

.h2 {
  margin: 0 auto 28px;
  margin-top: 12px;
}
